@import "tailwindcss";
@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: floating 6s ease-in-out infinite;
}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #3b82f6,
    #9333ea
  );

  border-radius: 999px;
}